<%- include("partials/header.ejs")%>

<body class="wrapper">
  <div class="container">
    <div class="btn_container">
      <form action="/writeBlog" method="get">
        <input type="submit" class="btn_create" value="Create" />
      </form>
    </div>

    <div class="blog_container">
      <% let index = 0; %> <% blogs.forEach(blog => { %> 
      <div class="blog">
        <h3><%= blog.title %></h3>
        <p>Author: <%= blog.author %></p>
        <p><%= blog.content.slice(0,40) %>...</p>
        <p>Date: <%= blog.date %></p>

        <div class="btns">
          <!--Viewing the Blog-->
          <form action="/view-blog" method="get">
            <input type="hidden" name="blogIndex" value="<%= index %>" />
            <input style= "background-color: rgba(4, 255, 0, 0.685);;border: 30px;" type="submit" value="View" />
          </form>
          
           <!--editting the Blog-->
          <form action="/editPage" method="post">
            <input type="hidden" name="blogIndex" value="<%= index %>" />
            <input style= "background-color: rgb(4, 156, 250);;border: 30px;" type="submit" value="Edit" />
          </form>

           <!--delete the Blog-->
          <form action="/delete-blog" method="post">
            <input type="hidden" name="blogIndex" value="<%= index %>" />
            <input style= "background-color: rgb(255, 0, 0);border: 30px;" type="submit" value="Delete" />
          </form>
        </div>

        <%index++%>
      </div>

      <% }) %>
    </div>
  </div>
</body>

<%- include("partials/footer.ejs")%>
